<div id="message-<%= message.id %>">
  <%= cl_image_tag message.user.avatar.key, height: 30, width: 30, class: "rounded-circle me-1" %>
  <small>
    <strong><%= message.user.nickname %></strong>
    <i><%= message.created_at.strftime("%e %b, %l:%M") %></i>
  </small>
  <p class="mb-0 mt-2"><%= message.content %></p>
</div>
