<div class="container" data-controller="message-notifications"
    data-message-notifications-current-user-id-value="<%= current_user.id %>"
    data-message-notifications-messages-value="<%= @messages %>"
>
  <h1 class="my-3"><%= I18n.t 'chats.title' %></h1>
  <% @chatrooms.each do |chatroom| %>
    <div class="card p-3 border-0 mb-3">
      <div class="d-flex justify-content-between align-items-center">
        <h3 class="mb-0"><%= chatroom.name %></h3>

          <span class="badge text-bg-pumpkin"
              data-message-notifications-target="chatMessagePill"
              data-chat-index="<%= chatroom.id %>"
          >
          </span>

      </div>
      <div class="d-flex justify-content-between align-items-center mt-3">
        <div class="d-flex align-items-center">
          <%= cl_image_tag chatroom.event.owner.avatar.key, height: 40, width: 40, class: "rounded-circle me-1" %>
          <% chatroom.event.bookings.select(&:accepted).map(&:user).each do |participant| %>
            <%= cl_image_tag participant.avatar.key, height: 30, width: 30, class: "rounded-circle me-1" %>
          <% end %>
        </div>
        <div class="d-flex align-items-center">
          <%= image_tag chatroom.event.gym.logo, alt: "logo", width: 30, height: 30, class: "rounded-circle me-2" %>
          <p class="mb-0"><%= chatroom.event.gym.name %></p>
        </div>
      </div>

      <%= link_to "Chat", transition_chatroom_path(chatroom), class: "btn btn-full w-100 mt-3" %>

    </div>
  <% end %>
</div>
