<div class="container">
  <% @chatrooms.each do |chatroom| %>
    <div class="card p-3 border-0 mb-3">
      <h3><%= chatroom.name %></h3>
      <div class="d-flex justify-content-between align-items-center">
        <div class="d-flex align-items-center">
          <%= cl_image_tag chatroom.event.owner.avatar.key, height: 40, width: 40, class: "rounded-circle me-1" %>
          <% chatroom.event.bookings.select(&:accepted).map(&:user).each do |participant| %>
            <%= cl_image_tag participant.avatar.key, height: 30, width: 30, class: "rounded-circle me-1" %>
          <% end %>
        </div>
        <div class="d-flex align-items-center">
          <%= image_tag chatroom.event.gym.logo, alt: "logo", width: 30, height: 30, class: "rounded-circle me-2" %>
          <p class="mb-0"><%= chatroom.event.gym.name %></p>
        </div>
      </div>
      <%= link_to "Chat", chatroom_path(chatroom), class: "btn btn-full w-100 mt-3" %>
    </div>
  <% end %>
</div>
