<div class="container">
  <div class="card p-3 border-0 my-3">
    <h3 class="mb-3"><%= @chatroom.name %><h3>
    <div class="d-flex justify-content-between align-items-center">
      <div class="d-flex align-items-center">
        <%= image_tag @chatroom.event.gym.logo, alt: "logo", width: 30, height: 30, class: "rounded-circle me-2" %>
        <p class="mb-0"><%= @chatroom.event.gym.name %></p>
      </div>
      <%= link_to (I18n.t 'events.details'), event_path(@chatroom), class: "btn btn-full" %>
    </div>
  </div>
</div>

<div class="container chatroom"
    data-controller="chatroom-subscription"
    data-chatroom-subscription-chatroom-id-value="<%= @chatroom.id %>"
    data-chatroom-subscription-current-user-id-value="<%= current_user.id %>"
>
  <div class="messages" data-chatroom-subscription-target="messages">
    <% @chatroom.messages.each do |message| %>
      <div class="message-row d-flex <%= message.sender?(current_user) ? 'justify-content-end' : 'justify-content-start' %>">
        <div class="<%= message.sender?(current_user) ? 'sender-style' : 'receiver-style' %>">
          <%= render "messages/message", message: message %>
        </div>
      </div>
    <% end %>
  </div>

  <%= simple_form_for [@chatroom, @message],
    html: { data: { action: "turbo:submit-end->chatroom-subscription#reset" }, class: "d-flex px-0" } do |f|
  %>
    <%= f.input :content, label: false, placeholder: (I18n.t 'chats.message'), wrapper_html: {class: "flex-grow-1 me-2"} %>
    <%= f.submit (I18n.t 'chats.send'), class: "btn_chatroom btn text-white mb-3" %>
  <% end %>
</div>

<div class="mb-custom">
