
<% if user_signed_in? %>
  <div data-controller="navbar-notifications" id="navbar-container"
      data-navbar-notifications-current-user-id-value="<%= current_user.id %>"
      data-navbar-notifications-messages-value="<%= @messages %>"
      data-navbar-notifications-asks-value="<%= @asks %>"
  >
<% else %>
  <div id="navbar-container">
<% end %>

<%= link_to gyms_path do %>
  <% if current_page?(gyms_path) %>
      <li class="list-navbar active">
        <i class="fa-solid fa-magnifying-glass"></i>
          <a href="gyms_path"></a>
      </li>
  <% else %>
      <li class="list-navbar">
        <i class="fa-solid fa-magnifying-glass"></i>
          <a href="gyms_path"></a>
      </li>
  <% end %>
<% end %>

  <%= link_to events_path do %>
  <% if current_page?(events_path)%>
    <li class="list-navbar active">
      <i class="fa-solid fa-calendar-days">      </i>
        <a href="events_path"></a>

    <div class="notification-pill d-none" data-navbar-notifications-target="navEventPill"></div>
    </li>
    <% else %>
     <li class="list-navbar">
      <i class="fa-solid fa-calendar-days"></i>
        <a href="events_path"></a>

      <div class="notification-pill d-none" data-navbar-notifications-target="navEventPill"></div>
     </li>
    <% end %>


  <% end %>

  <%= link_to new_event_path do %>
    <% if current_page?(new_event_path)%>
    <li  class="list-navbar plus_create" id="active">
<i class="fa-solid fa-plus"></i>
        <a href="new_event_path"></a>
    </li>
      <% else %>
    <li  class="list-navbar plus_create">
<i class="fa-solid fa-plus"></i>
        <a href="new_event_path"></a>
    </li>
    <% end %>
  <% end %>

<%= link_to chatrooms_path do %>
  <% if current_page?(chatrooms_path)%>
    <li class="list-navbar active">
    <i class="fa-regular fa-comment">
      </i>
        <a href="chatrooms_path"></a>
    <div class="notification-pill d-none" data-navbar-notifications-target="navMessagePill"></div>
    </li>
      <% else %>
    <li class="list-navbar">
<i class="fa-regular fa-comment">
      </i>
        <a href="chatrooms_path"></a>
    <div class="notification-pill d-none" data-navbar-notifications-target="navMessagePill"></div>
    </li>
  <% end %>


 <% end %>


  <%= link_to profile_path do %>
      <% if current_page?(profile_path)%>
    <li class="list-navbar active">
      <i class="fa-regular fa-user">
      </i>
       <a href="profile_path"></a>
    </li>
      <% else %>
    <li class="list-navbar">
      <i class="fa-regular fa-user">
      </i>
       <a href="profile_path"></a>
    </li>
  <% end %>
 <% end %>


</div>
