
<div data-controller="aftereffect" id="navbar-container">

  <%= link_to gyms_path do %>
    <li class="list-navbar"><ion-icon name="search-outline"><a href="gyms_path"></a></ion-icon></li>
  <% end %>

  <%= link_to  events_path do %>
    <li class="list-navbar"><ion-icon name="calendar-outline"><a href="events_path"></a></ion-icon></li>
  <% end %>

  <%= link_to  new_event_path do %>
    <li  class="list-navbar plus_create"><ion-icon name="add-outline"><a href="new_event_path"></a></ion-icon></li>
  <% end %>

  <%= link_to  chatrooms_path do %>
    <li class="list-navbar"><ion-icon name="chatbubbles-outline"><a href="chatrooms_path"></a></ion-icon></li>
 <% end %>

  <%= link_to  profile_path do %>
    <li class="list-navbar"><ion-icon name="person-circle-outline"><a href="profile_path"></a></ion-icon></li>
  <% end %>

</div>
