<div class="container">
  <h1 class="mt-3 mb-3">Mes évènements</h1>
  <% if @events.empty? %>
    <p>Aucun évènement créé pour le moment</p>
  <% else %>
    <% @events.each do |event| %>
      <div class="card p-3 border-0 mb-3">
        <div class="row mb-3">
          <h2 class="mb-3"><%= I18n.with_locale("fr") { I18n.l(event.start_time, format: "%d %B %Y") } %></h2>
          <h3 class="mb-3"><%= "#{event.start_time.strftime('%Hh%M')} - #{event.end_time.strftime('%Hh%M')}" %></h3>
        </div>
        <div class="row mb-3">
          <div class="d-flex align-items-center">
            <%= image_tag event.gym.logo, alt: "logo", width: 30, height: 30, class: "rounded-circle me-2" %>
            <p class="mb-0"><%= event.gym.name %></p>
          </div>
        </div>
        <div class="row mb-3">
          <% participants = event.bookings.select(&:accepted).map(&:user) %>
          <% free_slots = event.slots - participants.size %>
          <h3>Participants</h3>
          <div class="d-flex justify-content-between align-items-center">
            <% if free_slots == 1 %>
              <p class="mb-0"><strong><%= free_slots %></strong> place disponible</p>
            <% else %>
              <p class="mb-0"><strong><%= free_slots %></strong> places disponibles</p>
            <% end %>
            <div>
              <%= cl_image_tag event.owner.avatar.key, height: 30, width: 30, class: "rounded-circle me-1" %>
              <% participants.each do |participant| %>
                <%= cl_image_tag participant.avatar.key, height: 30, width: 30, class: "rounded-circle me-1" %>
              <% end %>
              <% free_slots.times do %>
                <%= image_tag 'Blank-Avatar.png', alt: "blank avatar", width: 30, height: 30, class: "rounded-circle me-1" %>
              <% end %>
            </div>
          </div>
        </div>
        <%= link_to "Voir l'évènement", event_path(event), class: "btn btn-full w-100" %>
      </div>
    <% end %>
  <% end %>
  <div class="mb-custom">
</div>
