<div class="container" data-controller="aks-notifications"
    data-aks-notifications-current-user-id-value="<%= current_user.id %>"
    data-aks-notifications-asks-value="<%= @asks %>"
>
  <h1 class="my-3"><%= I18n.t 'events.my_events' %></h1>
  <div class="accordion" id="eventsBlock">
    <div class="accordion-item border-0">
      <h2 class="accordion-header" id="headingTwo">
        <button class="accordion-button collapsed text-white text-bg-pumpkin rounded text-uppercase" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
          <%= I18n.t 'events.created_events' %>
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse show" aria-labelledby="headingTwo" data-bs-parent="#eventsBlock">
        <% if @my_events.empty? %>
          <p class="mt-3"><%= I18n.t 'events.no_events_owned' %></p>
        <% else %>
          <% @my_events.each do |event| %>
            <div class="card p-3 border-0 my-3">
              <div class="d-flex justify-content-between align-items-baseline">
                <h3 class="mb-3"><%= "#{I18n.with_locale(current_user.locale) { I18n.l(event.start_time, format: "%d %B") }} - #{event.start_time.strftime('%Hh%M')} #{I18n.t 'events.to'} #{event.end_time.strftime('%Hh%M')}" %></h3>

                <span class="badge text-bg-pumpkin" data-aks-notifications-target="eventPill"
                  data-event-index="<%= event.id %>"
                >
                </span>

              </div>
              <div class="d-flex justify-content-between align-items-end">
                <% participants = event.bookings.select(&:accepted).map(&:user) %>
                <% free_slots = event.slots - participants.size %>

                <div class="d-flex align-items-center">
                  <%= image_tag event.gym.logo, alt: "logo", width: 30, height: 30, class: "rounded-circle me-2" %>
                  <p class="mb-0"><%= event.gym.name %></p>
                </div>

                <div class="d-flex align-items-baseline">
                    <%= cl_image_tag event.owner.avatar.key, height: 40, width: 40, class: "rounded-circle me-1" %>
                    <% participants.each do |participant| %>
                      <%= cl_image_tag participant.avatar.key, height: 30, width: 30, class: "rounded-circle me-1" %>
                    <% end %>
                    <% free_slots.times do %>
                      <%= image_tag 'Blank-Avatar.png', alt: "blank avatar", width: 30, height: 30, class: "rounded-circle me-1" %>
                    <% end %>
                </div>
              </div>
              <%= link_to (I18n.t 'events.see_event'), event_path(event), class: "btn btn-full w-100 mt-3" %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="accordion-item border-0 mt-3">
      <h2 class="accordion-header" id="headingThree">
        <button class="accordion-button collapsed text-white text-bg-pumpkin rounded text-uppercase" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          <%= I18n.t 'events.joined_events' %>
        </button>
      </h2>
      <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#eventsBlock">
        <% if @joined_events.empty? %>
          <p class="mt-3"><%= I18n.t 'events.no_events_joined' %></p>
        <% else %>
          <% @joined_events.each do |event| %>
            <div class="card p-3 border-0 my-3">
              <div class="d-flex justify-content-between align-items-baseline">
                <h2 class="mb-3"><%= I18n.with_locale(current_user.locale) { I18n.l(event.start_time, format: "%d %B") } %></h2>
                <h3 class="mb-3"><%= "#{event.start_time.strftime('%Hh%M')} - #{event.end_time.strftime('%Hh%M')}" %></h3>
              </div>
              <div class="d-flex justify-content-between align-items-end">
                <% participants = event.bookings.select(&:accepted).map(&:user) %>
                <% free_slots = event.slots - participants.size %>

                <div class="d-flex align-items-center">
                  <%= image_tag event.gym.logo, alt: "logo", width: 30, height: 30, class: "rounded-circle me-2" %>
                  <p class="mb-0"><%= event.gym.name %></p>
                </div>

                <div class="d-flex align-items-baseline">
                    <%= cl_image_tag event.owner.avatar.key, height: 40, width: 40, class: "rounded-circle me-1" %>
                    <% participants.each do |participant| %>
                      <%= cl_image_tag participant.avatar.key, height: 30, width: 30, class: "rounded-circle me-1" %>
                    <% end %>
                    <% free_slots.times do %>
                      <%= image_tag 'Blank-Avatar.png', alt: "blank avatar", width: 30, height: 30, class: "rounded-circle me-1" %>
                    <% end %>
                </div>

              </div>
              <%= link_to (I18n.t 'events.see_event'), event_path(event), class: "btn btn-full w-100 mt-3" %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <div id="collapseBlock">
    <div class="collapse show" id="allEvents">

    </div>
    <div class="collapse" id="ownedEvents">

    </div>
    <div class="collapse" id="joinedEvents">

    </div>
  </div>
  <div class="mb-custom">
</div>
