<div class="container">

  <h1 class="mt-3 mb-3">Créer un nouvel évènement</h1>

  <%= simple_form_for(@event) do |f| %>
  <%= f.association :gym, label: 'Lieu', label_html: { class: "form-label fw-bold custom-label-form" } %>

  <div class="row">
    <div class="col">
      <%= f.input :start_time, as: :string, label: "Début",
        wrapper_html: { class: "mb-4" },
                  input_html: { data: {controller: "flatpickr" } }, label_html: { class: "form-label fw-bold custom-label-form" } %>
    </div>
    <div class="col">
      <%= f.input :end_time, as: :string, label: "Fin",
        wrapper_html: { class: "mb-4" },
                  input_html: { data: { controller: "flatpickr" } }, label_html: { class: "form-label fw-bold custom-label-form" } %>
    </div>
  </div>

    <%= f.input :slots, label: 'Nombre de places', collection: [ "1", "2", "3"], label_html: { class: "form-label fw-bold custom-label-form" } %>
    <p class="custom-label-form mb-3">Disciplines</p>
    <div class="form-check ps-0 mb-3">
      <%= f.input :musculation, input_html: { class: "form-check-input" } %>
      <%= f.input :cardio, input_html: { class: "form-check-input" } %>
      <%= f.input :fitness, input_html: { class: "form-check-input" } %>
    </div>
  <div data-controller="character-counter">
    <%= f.input :description,
                wrapper_html: { class: "mb-1" },
                input_html: { data: { character_counter_target: "input" } },
                label_html: { class: "form-label fw-bold custom-label-form" } %>

    <p>Votre description fait <strong data-character-counter-target="counter"></strong> caractères.</p>
  </div>
    <%= f.submit :class => 'btn btn-full w-100' %>
  <% end %>
  <div class="mb-custom">
</div>
