<div class="container">

  <h1 class="mt-3 mb-3"><%= I18n.t 'events.details' %></h1>
  <%= render 'shared/gym_card' %>

  <div class="card p-3 border-0 my-3">
    <div class="row mb-3">
      <h3><%= I18n.t 'events.datetime' %></h3>
      <p class="mb-0"><strong><%= I18n.with_locale(current_user.locale) { I18n.l(@event.start_time, format: "%d %B") } %></strong>,
                              <%= I18n.t 'events.from' %> <%= @event.start_time.strftime('%Hh%M') %> <%= I18n.t 'events.to' %> <%= @event.end_time.strftime('%Hh%M') %></p>
    </div>
    <div class="row mb-3">
      <h3><%= I18n.t 'events.creator' %></h3>
      <div class="d-flex align-items-center">
        <%= cl_image_tag @event.owner.avatar.key, height: 30, width: 30, class: "rounded-circle me-2" %>
        <strong><%= @event.owner.nickname %></strong>
      </div>
    </div>
    <div class="row mb-3">
      <h3><%= I18n.t 'disciplines.level' %></h3>
      <div class="d-flex justify-content-start">
        <% if @event.musculation %>
          <div class="p-2 border border-1 border-pumpkin rounded me-2">
            <h4 class="mb-1"><%= I18n.t 'disciplines.bodybuilding' %></h4>
            <div class="stars">
              <ul class="list-group list-group-horizontal pt-0">
                <% @event.owner.musculation_lvl.times do %>
                  <li class="list-group-item p-0 border-0 text-pumpkin star-icon"><ion-icon name="star"></ion-icon></li>
                <% end %>
              </ul>
            </div>
          </div>
        <% end %>
        <% if @event.cardio %>
          <div class="p-2 border border-1 border-pumpkin rounded me-2">
            <h4 class="mb-1"><%= I18n.t 'disciplines.cardio' %></h4>
            <div class="stars">
              <ul class="list-group list-group-horizontal pt-0">
                <% @event.owner.cardio_lvl.times do %>
                  <li class="list-group-item p-0 border-0 text-pumpkin star-icon"><ion-icon name="star"></ion-icon></li>
                <% end %>
              </ul>
            </div>
          </div>
        <% end %>
        <% if @event.fitness %>
          <div class="p-2 border border-1 border-pumpkin rounded">
            <h4 class="mb-1"><%= I18n.t 'disciplines.fitness' %></h4>
            <div class="stars">
              <ul class="list-group list-group-horizontal pt-0">
                <% @event.owner.fitness_lvl.times do %>
                  <li class="list-group-item p-0 border-0 text-pumpkin star-icon"><ion-icon name="star"></ion-icon></li>
                <% end %>
              </ul>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <h3><%= I18n.t 'events.description' %></h3>
    <p class="mb-3"><%= @event.description %></p>
    <h3><%= I18n.t 'events.attendees' %></h3>
    <div class="d-flex justify-content-between align-items-center">
      <% if @free_slots == 1 %>
        <p class="mb-0"><strong><%= @free_slots %></strong> <%= I18n.t 'events.free_slot' %></p>
      <% else %>
        <p class="mb-0"><strong><%= @free_slots %></strong> <%= I18n.t 'events.free_slots' %></p>
      <% end %>
      <div>
        <%= cl_image_tag @event.owner.avatar.key, height: 30, width: 30, class: "rounded-circle me-1" %>
        <% @participants.each do |participant| %>
          <%= cl_image_tag participant.avatar.key, height: 30, width: 30, class: "rounded-circle me-1" %>
        <% end %>
        <% @free_slots.times do %>
          <%= image_tag 'Blank-Avatar.png', alt: "blank avatar", width: 30, height: 30, class: "rounded-circle me-1" %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="d-grid gap-2 mb-5">
    <% if @is_owner %>
        <% unless @askers.empty? %>
          <button class="d-flex align-items-center border-0 rounded" type="button">
            <%= link_to (I18n.t 'events.got_asks'), asks_event_path(slots: @free_slots), {class: 'btn btn-primary text-white w-100'} %>
          </button>
        <% end %>
        <% unless @participants.empty? %>
          <button class="d-flex align-items-center border-0 rounded" type="button">
            <%= link_to (I18n.t 'chats.chat'), chatroom_path(@event.chatroom), {class: 'btn btn-success text-white w-100'} %>
          </button>
        <% end %>
        <%= button_to (I18n.t 'events.cancel'), { controller: "events", action: "show_update", delete: true}, {class: 'btn btn-danger text-white w-100'} %>
    <% else %>
        <% if @participants.include? current_user %>
          <button class="d-flex align-items-center border-0 rounded" type="button">
            <%= link_to (I18n.t 'chats.chat'), chatroom_path(@event.chatroom), {class: 'btn btn-success text-white w-100'} %>
          </button>
          <%= button_to (I18n.t 'asks.cancel_attendee'), {controller: "events", action: "show_update", cancel: true}, {class: 'btn btn-danger text-white w-100'}  %>
        <% elsif @askers.include? current_user %>
          <button class="btn btn-outline-primary" type="button" disabled><%= I18n.t 'asks.waiting' %></button>
          <%= button_to (I18n.t 'asks.cancel'), {controller: "events", action: "show_update", cancel: true}, {class: 'btn btn-danger text-white w-100'}  %>
        <% elsif @free_slots.positive? %>
          <%= button_to (I18n.t 'asks.ask'), {controller: "events", action: "show_update", ask: true}, {class: 'btn btn-primary text-white w-100'}  %>
        <% end %>
    <% end %>
  </div>
  <div class="mb-custom">
</div>
