<div class="container">
  <h1>Evènements de la salle</h1>
  <%= render 'shared/gym_card' %>
  <li>
    <% @events[0].each do |event| %>
      <ul>
        <div class='d-flex'>
          <%= cl_image_tag event.owner.avatar.key, height: 50, width: 50 %>
          <h5><%= event.owner.nickname %></h5>
        </div>
        <%= link_to event.description, event_path(event) %>
      </ul>
    <% end %>
    <% @events[1].each do |event| %>
      <ul>
        <div class='d-flex'>
          <%= cl_image_tag event.owner.avatar.key, height: 50, width: 50 %>
          <h5><%= event.owner.nickname %></h5>
        </div>
        <%= link_to event.description, event_path(event) %>
      </ul>
    <% end %>
  </li>
</div>
