<!DOCTYPE html>
<html>
  <head>
    <title>GymBuddy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= render 'shared/ios_pwa_links' %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

    <link href="https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.js"></script>

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
  </head>
  <% if user_signed_in? %>
    <body data-controller="notifications-subscription"
          data-notifications-subscription-current-user-id-value="<%= current_user.id %>"
          data-notifications-subscription-index-nav-count-value="<%= @index_count %>"
          data-notifications-subscription-answers-value="<%= @answers %>"
          data-notifications-subscription-asks-value="<%= @asks %>"
          data-notifications-subscription-messages-value="<%= @messages %>"
    >
  <% else %>
    <body>
  <% end %>
    <%= render "shared/flashes" %>
    <%= yield %>
    <%= render "shared/navbar" %>
  </body>
</html>
